{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}{{ page.title|lower }}{% endblock %}
{% block og-title %}{{ page.title|lower }}{% endblock %}
{% block og-description %}{{ page.intro|striptags }}{% endblock %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}

    <div class="container-lg">

      {% for post in posts %}
       {% with post=post.specific %}
      <div class="row align-items-center justify-content-start" style="margin-top:25px; padding: 30px; background: #b2bec3;">

        {% with post.main_image as main_image %}
         {% if main_image %}
        <div class="col-auto" style="padding: 10px;">
          {% image main_image fill-200x125 class="img-thumbnail" %}
        </div>
         {% endif %}
        {% endwith %}

        <div class="col-auto">

          <h4><a href="{% pageurl post %}" style="color: #0984e3; text-decoration: none;"><strong>{{ post.title }}</strong></a></h4>
          <p><small>{{ post.specific.date }}</small></p>

          <p>{{ post.specific.intro }}</p>

        </div>
      </div>
       {% endwith %}
      {% endfor %}

{% endblock %}
