{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}{{ page.title|lower }}{% endblock %}
{% block og-title %}{{ page.title|lower }}{% endblock %}
{% block og-description %}{{ page.intro|striptags }}{% endblock %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

    <div class="container-lg" style="margin-top: 10px;">

      <div class="row g-2 align-items-center justify-content-center">
        <div class="col-9">
          <div class="p-1">

            <h3><strong>{{ page.title }}</strong></h3>
            <p><small>{{ page.date }}</small></p>

          </div>
        </div>
      </div>

      <div class="row g-2 align-items-center justify-content-center">
        <div class="col-9">
          <div class="p-1">

            <p class="lead" style="padding-bottom: 10px;">{{ page.intro }}</p>

             {% with page.main_image as main_image %}
              {% if main_image %}
             <div class="col-auto text-end" style="padding: 10px;">
               {% image main_image fill-600x375 class="img-fluid rounded mx-auto d-block" %}
             </div>
              {% endif %}
             {% endwith %}

            <hr style="color: #fd79a8; height: 2px; opacity:1;">

            <p style="padding-top:5px;">{{ page.body|richtext }}</p>

          </div>
        </div>
      </div>

    </div>

    <nav class="navbar sticky-bottom navbar-light bg-light">
      <div class="container-md justify-content-end">
        <span class="navbar-text">
          © 2021 Alex Bowman. All rights reserved.
        </span>
      </div>
    </nav>

{% endblock %}
