
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f2f6;
    font-weight: 400;
    margin: 0;
  }

  h1 {
    font-weight: 700;
    font-size: 42px;
  }

  p, h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }

  p.social {
    letter-spacing: 12px;
  }
