{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block title %}alex bowman{% endblock %}
{% block og-title %}alex bowman{% endblock %}
{% block og-description %}Product Manager and Entrepreneur in Austin, Texas{% endblock %}

{% block content %}

    <div class="container-md">

      <div class="row align-items-center justify-content-center justify-content-md-between" style="padding-top: 40px;">

        <div class="col-auto text-center text-sm-start">

          <h1>Hi. I'm Alex Bowman.</h1>

          <p class="social" style="padding-top: 10px;">
            <a style="color: #0984e3; text-decoration: none;" href="mailto:hi@abohw.com" title="contact alex" target="_blank"><i class="far fa-paper-plane fa-2x"></i></a>
            <a style="color: #0984e3; text-decoration: none;" href="https://instagram.com/abohw" title="alex's instagram" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
            <a style="color: #0984e3; text-decoration: none;" href="https://twitter.com/abohw" title="alex's twitter" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
            <a style="color: #0984e3; text-decoration: none;" href="https://github.com/abohw" title="alex's github" target="_blank"><i class="fab fa-github fa-2x"></i></a>
            <a style="color: #0984e3; text-decoration: none;" href="https://linkedin.com/in/alexdbowman" title="alex's linkedin" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
          </p>

          <h2>Product Manager and Entrepreneur in Austin, Texas</h2>
          <p>I also enjoy coffee, traveling, and photography.</p>

          <!-- <p style="color: #636e72; padding-top: 25px;">Since I started using Foursquare, I've visited {{ numCountries }} countries and {{ numStates }} states.</p> -->

          <p style="color: #636e72;">In the last year, I've been to {{ numPlaces|intcomma }} unique places
              (including {{ numCoffeeShops|intcomma }} coffee shops)
              and I've taken over {{ numPhotos|intcomma }} photos.</p>

        </div>

        <div class="col-auto" style="padding:10px;">

          <img class="rounded img-fluid" style="max-width: 300px;" src="{% static 'img/alex-in-japan.jpg' %}" alt="Alex Bowman">

        </div>
      </div>

    </div>

    <div class="container-fluid" style="background: #b2bec3; margin-top: 10px;">

      <div class="container-md">

        <div class="row row-cols-1 row-cols-md-4 justify-content-between align-items-center">

          {% for photo in photos %}
          <div class="col" style="padding: 25px;">
            <img class="img-fluid img-thumbnail rounded mx-auto d-block" style="max-height: 250px;"
              src="{{ photo.thumb }}" loading="lazy" alt="{{ photo.caption }}">
          </div>
          {% endfor %}

        </div>

      </div>

    </div>

  <div class="container-md" style="margin-top: 25px; margin-bottom: 25px;">

    <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col">
        <div class="card h-100 border-info">
          <div class="card-header">Project</div>
          <div class="card-body">
            <h5 class="card-title" style="font-size: 18px;">Filmstock</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              <a class="card-link" style="color: #0984e3; text-decoration: none;" target="_blank" href="https://filmstock.app">filmstock.app</a>
            </h6>
            <p class="card-text" style="font-size: 16px; color: #636e72;">
              Filmstock looks for film cameras in the inventories of camera stores across the US.
              Create and save customized searches, check current inventory, and be alerted as soon as new cameras are stocked.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Launched January 2021</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 border-dark">
          <div class="card-header">Mention in The New York Times</div>
          <div class="card-body">
            <h5 class="card-title" style="font-size: 18px;">Best Twitter ad practices include narrow targets, videos and brevity</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              <a class="card-link" style="color: #0984e3; text-decoration: none;" target="_blank" href="https://www.nytimes.com/2015/01/22/business/smallbusiness/on-twitter-best-advertising-practices-include-narrow-targets-videos-and-brevity.html">
                Read article
              </a>
            </h6>
            <p class="card-text" style="font-size: 16px; color: #636e72;">
              More than four years after introducing advertising on its platform, Twitter has changed the way businesses create ads. And as with any game in which the rules have shifted, players adapt by developing new strategies.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">January 21, 2015</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 border-dark">
          <div class="card-header">Project</div>
          <div class="card-body">
            <h5 class="card-title" style="font-size: 18px;">abohw.com</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              <a class="card-link" style="color: #0984e3; text-decoration: none;" href="https://abohw.com">abohw.com</a>
            </h6>
            <p class="card-text" style="font-size: 16px; color: #636e72;">
              Hey, it's this website. My personal website that includes a Flickr API-based photo portfolio,
              some stats gathered using Foursquare's API, and a simple blog using Wagtail.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Launched February 2021</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 border-dark">
          <div class="card-header">Mention in The Cincinnati Enquirer</div>
          <div class="card-body">
            <h5 class="card-title" style="font-size: 18px;">Brandery startup aims to change home buying</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              <a class="card-link" style="color: #0984e3; text-decoration: none;" target="_blank" href="https://www.cincinnati.com/story/money/business/2015/09/01/brandery-startup-aims-change-home-buying/71505968/">
                Read article
              </a>
            </h6>
            <p class="card-text" style="font-size: 16px; color: #636e72;">
              When Alex Bowman and his wife moved back to Cincinnati last year, they thought they knew what neighborhood they wanted to live in. After all, they had grown up here and they knew the different communities.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">September 1, 2015</small>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="{% static 'js/party.min.js' %}"></script>
  <script src="{% static 'js/konami.js' %}"></script>
  <script>
    var easter_egg = new Konami(function() {
      party.screen({
        count: 500 * (window.innerWidth / 1980),
        countVariation: 0.5,
        angleSpan: 0,
        yVelocity: -100,
        yVelocityVariation: 2,
        rotationVelocityLimit: 6,
        scaleVariation: 0.8
      });

      window.setTimeout(function() {
        var date = new Date();
        date.setTime(date.getTime() + 7200000);
        document.cookie = "photos=true;expires=" + date.toUTCString();
        window.location.reload(true);
      }, 2500);

    });
  </script>

{% endblock %}
