{% extends 'base.html' %}
{% load static %}

{% block title %}photos{% endblock %}

{% block css-overrides %}

{% endblock %}

{% block content %}

    <div class="container-flex" style="background-color: #636e72; padding: 10px;">
      <div class="container-lg">

        <div class="row align-items-center">
          <div class="col">

            <a href="/photos" style="color: #dfe6e9; text-decoration: none;">Latest</a> &emsp;&emsp;&emsp;&emsp;
            <a href="/photos/people" style="color: #dfe6e9; text-decoration: none;">People</a> &emsp;&emsp;&emsp;&emsp;
            <a href="/photos/places" style="color: #dfe6e9; text-decoration: none;">Places</a>

          </div>
          <div class="col-auto justify-content-end">

            <a style="color: #81ecec; text-decoration: none;" href="https://flickr.com/people/buncharted/" target="_blank"><i class="fab fa-flickr"></i></a>
            &emsp;&emsp;&emsp;&emsp;
            <a style="color: #81ecec; text-decoration: none;" href="https://instagram.com/abohw" target="_blank"><i class="fab fa-instagram"></i></a>

          </div>
        </div>
      </div>
    </div>

    {% if photos %}

    <div class="container-lg gallery" style="margin-top: 25px;">
      <div class="row row-cols-1 row-cols-md-3 justify-content-center align-items-center">

          {% for photo in photos %}
            <div class="col" style="padding: 25px;"><a href="{{ photo.full }}">
              <img src="{{ photo.thumb }}" alt="{{ photo.caption }}" loading="lazy" class="img-fluid img-thumbnail mx-auto d-block" style="max-height: 400px;">
            </a></div>
          {% endfor %}

      </div>
    </div>

    <nav class="navbar sticky-bottom navbar-light bg-light">
      <div class="container-md justify-content-end">
        <span class="navbar-text">
          © 2021 Alex Bowman. All rights reserved.
        </span>
      </div>
    </nav>

    {% if page == 'people' %}
      <script src="{% static 'js/party.min.js' %}"></script>
      <script src="{% static 'js/konami.js' %}"></script>
      <script>
        var easter_egg = new Konami(function() {
          party.screen({
            count: 500 * (window.innerWidth / 1980),
            countVariation: 0.5,
            angleSpan: 0,
            yVelocity: -100,
            yVelocityVariation: 2,
            rotationVelocityLimit: 6,
            scaleVariation: 0.8
          });

          window.setTimeout(function() {
            var enableNsfw = confirm('nsfw mode enabled. continue?');
            if(enableNsfw){ window.location.href = '?s=d'; } }, 2500);

        });
      </script>
    {% endif %}

    <script src="{% static 'js/simple-lightbox.min.js' %}"></script>
    <script>
      (function() {
        var $gallery = new SimpleLightbox('.gallery a', {
          disableRightClick: true,
          showCounter: false,
          animationSpeed: 200,
          loop: false,
          fadeSpeed: 100,
        });
      })();
    </script>
    {% endif %}

{% endblock %}
