{% extends 'base.html' %}
{% load static %}

{% block title %}photos{% endblock %}
{% block og-title %}photos{% endblock %}
{% block og-description %}Some photos from Alex Bowman.{% endblock %}

{% block content %}

    <div class="container-lg">

        <div class="row row-cols-1 row-cols-md-4 justify-content-center align-items-center">

            <div class="col" style="padding: 25px;"><a href="/photos">
              <img src="{% static 'img/latest-photos.png' %}" alt="Latest Photos" class="img-fluid rounded mx-auto d-block" style="max-height: 400px;">
            </a></div>

            <div class="col" style="padding: 25px;"><a href="/photos/people">
              <img src="{% static 'img/people-photos.png' %}" alt="People Photos" class="img-fluid rounded mx-auto d-block" style="max-height: 400px;">
            </a></div>

            <div class="col" style="padding: 25px;"><a href="/photos/places">
              <img src="{% static 'img/places-photos.png' %}" alt="Places Photos" class="img-fluid rounded mx-auto d-block" style="max-height: 400px;">
            </a></div>

            <div class="col" style="padding: 25px;"><a href="/photos/random">
              <img src="{% static 'img/random-photos.png' %}" alt="Flickr" class="img-fluid rounded mx-auto d-block" style="max-height: 400px;">
            </a></div>

        </div>
    </div>

    {% if photos %}

    <div class="container-lg gallery">

         <div class="row row-cols-1 row-cols-md-2 justify-content-center align-items-center">

          {% for photo in photos %}
            <div class="col" style="padding: 25px;"><a href="{{ photo.full }}">
              <img src="{{ photo.thumb }}" alt="{{ photo.caption }}" loading="lazy" class="img-fluid img-thumbnail mx-auto d-block" style="max-height: 400px;">
            </a></div>
          {% endfor %}

      </div>
    </div>

    <nav class="navbar sticky-bottom navbar-light bg-light">
      <div class="container-md justify-content-end">
        <span class="navbar-text">
          © 2021 Alex Bowman. All rights reserved.
        </span>
      </div>
    </nav>

    <script src="{% static 'js/simple-lightbox.min.js' %}"></script>
    <script>
      (function() {
        var $gallery = new SimpleLightbox('.gallery a', {
          disableRightClick: true,
          captionsData: 'alt',
          showCounter: false,
          animationSpeed: 200,
          loop: false,
          fadeSpeed: 100,
        });
      })();
    </script>
    {% endif %}

  <script src="{% static 'js/party.min.js' %}"></script>
  <script src="{% static 'js/konami.js' %}"></script>

  <script>
    var easter_egg = new Konami(function() {
      party.screen({
        count: 500 * (window.innerWidth / 1980),
        countVariation: 0.5,
        angleSpan: 0,
        yVelocity: -100,
        yVelocityVariation: 2,
        rotationVelocityLimit: 6,
        scaleVariation: 0.8
      });

     window.setTimeout(function() {
     var enableNsfw = confirm('nsfw mode enabled. continue?');
     if(enableNsfw){
        var date = new Date();
        date.setTime(date.getTime() + 7200000);
        document.cookie = "nsfw=true;expires=" + date.toUTCString();
        window.location.reload(true);
       } }, 2500);

     });
  </script>

{% endblock %}