{% extends 'base.html' %}
{% load static %}

{% block title %}work with alex bowman{% endblock %}
{% block og-title %}work with alex bowman{% endblock %}
{% block og-description %}A Product Manager and Entrepreneur in the Netherlands.{% endblock %}

{% block css-overrides %}

    p {
        color: #2d3436;
    }

    li.results {
        color: #2d3436;
        font-size: 18px;
    }

    ul.results {
        list-style-type: circle;
        color: #2d3436;
        font-size: 18px;
    }

    li.results:not(:last-child) {
        margin-bottom: 10px;
    }

{% endblock %}

{% block content %}

    <div class="container-md">

        <div class="row align-items-center justify-content-center justify-content-md-between" style="margin: 25px auto;">

        <div class="col-auto text-center text-sm-start align-middle">

            <h2 style="font-size:28px;"><strong>Need some help with launching your new product?</strong></h2>

            <p style="padding-top: 25px;">
                I'm an experienced product leader with 7+ years of experience from founding my own startup
                to large enterprises, including B2C products, B2B (SMB and enterprise), and marketplaces.
                I love to help scope and scale new products; to take things "from 0 to 1".
            </p>

            <p>
                And in addition to product management, growth marketing, and consulting, I'm able to prototype new products, and in many cases,
                build out the entire MVP.
            </p>

            <p>
                I currently reside in the Netherlands but work with clients worldwide, including in the United States.
            </p>

          <p style="padding-top: 25px;">

               <a href="mailto:alex@abohw.com" style="border-color:#6c5ce7; background: #6c5ce7;" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">
                    Contact Me
                </a>

          </p>

        </div>

      </div>

    </div>

    <div id="learn-more" class="container-fluid" style="margin-top: 25px; background: #ffffff;">

        <div class="container-md">

            <div class="row align-items-center justify-content-center">

                <div class="col" style="margin-top:25px;">

                    <h2 style="color: #636e72;"><strong>How I Work</strong></h2>

                    <div class="container-fluid p-0 p-sm-4">

                        <ul class="results">
                            <li class="results">I'm highly pragmatic and data-driven. I always want to see the data. There are times when you have to trust your gut to
                                make certain decisions, but many decisions can be made by simply looking at the data.</li>
                            <li class="results">I always look for ways to invoke the Pareto principle, identifying ways that we can simplify work.</li>
                            <li class="results">Major initiatives and strategic decisions should have a short (up to 6 pages, ideally 1-2) document outlining them. Slides are great as a visual for big meetings, but documents are best for nearly everything else.</li>
                            <li class="results">I'm big on using feature trackers like JIRA effectively. I also strongly believe in effective backlog refinement: sprints shouldn't be an endless waterfall.</li>
                            <li class="results">I value transparency. If things aren't going well, I like to know just as much as when things are going well. We can work it out together. Similarly, I like to understand why questions are being asked; added context can unlock a better answer.</li>
                            <li class="results">I used to work at Amazon and their leadership principles were ingrained in me, but one in particular sticks out: "disagree and commit". Sometimes we may disagree on how best to tackle something, but once the team gets bought in on something, it's important to fall in line and push forward.</li>
                            <li class="results">I believe meetings should always have an agenda. We have so many meetings, so it's important to ensure that the ones we do have are 1) necessary, 2) properly allotted for time, and 3) have a clear purpose and outcome.</li>
                        </ul>

                    </div>

                    <h2 style="color: #636e72;"><strong>Experience</strong></h2>

                    <div class="container-fluid p-0 p-sm-4">

                        <p>
                            <strong>Founder</strong> <br>
                            <small>abohw, formerly TTNY Labs (2021 - now)</small>
                        </p>

                        <p>
                            We're a product consultancy, working with growth-stage companies on product development and growth marketing while building new products in-house.
                        </p>

                        <hr noshade width="95%" class="text-center" style="margin: 25px auto;">

                        <p>
                            <strong>Product Director</strong> <br>
                            <small>Indeed.com (2018 - 2021)</small>
                        </p>

                        <p>Indeed acquired Interviewed (YC 2015) with the intent to integrate their assessments product into
                            the Indeed ecosystem, enabling job seekers to showcase their skills to employers. The startup's team
                            was fairly small and I was brought in early to build and quickly scale Assessments within Indeed.</p>

                        <p>
                            Initially, I led the MyIndeed integration and Assessments for Enterprise.
                            I soon became lead for all of Assessments (including assessment creation),
                            then became the lead of the worldwide Candidate Quality team (adding screening questions
                            and machine learning products related to candidate discovery).
                        </p>

                        <ul class="results">
                            <li class="results">Launched Indeed Assessments and integrated with all key Indeed products</li>
                            <li class="results">Scaled Assessments to 200MM annual completed assessments in 21 countries</li>
                            <li class="results">Led a sizable product team, with 5 direct reports and oversight of more than 20</li>
                        </ul>

                        <hr noshade width="95%" class="text-center" style="margin: 25px auto;">

                        <p>
                            <strong>Product Manager</strong> <br>
                            <small>Snap Inc. (2018)</small>
                        </p>

                        <p>
                            I joined the Snap Inc. revenue team to work on small business initiatives, but
                            my time there was like Snapchat's messaging: ephemeral.</p>

                        <hr noshade width="95%" class="text-center" style="margin: 25px auto;">

                        <p>
                            <strong>Senior Product Manager</strong> <br>
                            <small>Everything But The House (2017 - 2018)</small>
                        </p>

                        <p>
                            Everything But The House (EBTH) is an online estate sale marketplace. They collect, authenticate, and sell one-of-a-kind
                            items through an online auction, with jewelry, art, cars, furniture, and everything in between. When I joined, the company
                            had recently been acquired and was scaling to over 20 cities and moving operations to a centralized distribution center.
                            They were also gearing up to launch their HGTV show, also titled "Everything But The House".
                        </p>

                        <p>
                            I owned the entire buyer experience from the first visit to checkout, along with seller acquisition. My focus was primarily to
                            improve discovery in our marketplace, which was an interesting challenge since most items are one-of-a-kind, and relied
                            heavily upon algorithms and machine learning.
                        </p>

                        <ul class="results">
                            <li class="results">Led a cross-functional team of 6 engineers and UX designers focused on user growth, engagement, and retention</li>
                            <li class="results">Increased daily active users +46% and session length +22% in < 6 months via user research, experiments, and optimization,
                            with an emphasis on regularly featuring product recommendations, improving messaging efforts, and enhancing usability</li>
                        </ul>

                        <hr noshade width="95%" class="text-center" style="margin: 25px auto;">

                        <p>
                            <strong>Co-Founder & CEO</strong> <br>
                            <small>Casamatic (2014 - 2017)</small>
                        </p>

                        <p>
                            In 2014, I co-founded Casamatic to make it easier for people to find their perfect home.  My wife and I
                            had just purchased a home and stumbled upon it in an area we knew nothing about and definitely weren't looking.
                            Instead of starting with a map view, we decided to build an algorithm. And it worked.
                        </p>

                        <p>My role was everything except for the coding. I led product (starting with home buyer interviews,
                            scoping the MVP, etc.), PR and marketing (performance, content), hiring, fundraising, and sales. In late 2016,
                            we decided to pivot to a white-labeled B2B product, and I led research and development for this too.
                        </p>

                        <ul class="results">
                            <li class="results">Grew from 0 to 10,000 monthly active users in the first year, growing ~20% each month</li>
                            <li class="results">Raised $1.1 million in seed funding from VCs and angel investors</li>
                            <li class="results">Discovered and assisted with the purchase of numerous homes for our users</li>
                            <li class="results">Drove growth through a highly successful blog, with tens of thousands of views each month</li>
                            <li class="results">Graduated The Brandery, a best-in-class startup accelerator program</li>
                        </ul>

                        <hr noshade width="95%" class="text-center" style="margin: 25px auto;">

                        <p>
                            <strong>Head of Marketing</strong> <br>
                            <small>ChoreMonster (2013 - 2014)</small>
                        </p>

                        <p>
                            ChoreMonster was an app that incentivized kids to do their chores.  I was brought in shortly after
                            their seed round was closed, when the company went from about 4 employees to 12. During my tenure, we
                            participated in the inaugural class of the Disney Accelerator (powered by Techstars).
                        </p>

                        <p>
                            Like any startup, I wore many hats here.  Primarily, I was their sole marketing person, but I also dabbled
                            in operations, sales, and business development. I created the company’s growth marketing strategy from scratch, focusing on scrappy,
                            highly targeted TV advertising and content marketing, quadrupling base of families in under a year on the team.
                            I also closed $100,000 in ad sales with Kroger and Procter & Gamble.
                            Finally, I led business development efforts during the company’s time with Disney, meeting with all levels
                            of Disney (including their CEO!) on confidential products and partnership opportunities.
                        </p>

                        <hr noshade width="95%" class="text-center" style="margin: 25px auto;">

                        <p>
                            <strong>Marketing Manager</strong> <br>
                            <small>Amazon.com (2011 - 2013)</small>
                        </p>

                        <p>
                            I joined the Amazon Appstore team when it was just a third-party app store, and during my time there,
                            we became the app store on a new and wildly popular category of devices: Kindle Fire.  I was the second
                            member of the Developer Marketing team, and our objective was to get <i>every app</i> for our customers.
                        </p>

                        <p>
                            Given the small size of the team, I did many things.
                            I managed the Appstore's content strategy and execution (i.e. social media, a technical blog, e-mail marketing).
                            I also led our marketing campaigns to app developers, including
                            conference attendance (SXSW, AWS re: Invent, AnDevCon), display advertising, and special incentives.
                            And I led the analysis and reporting on campaigns, including forecasting, for our weekly business reviews.
                        </p>

                        <hr noshade width="95%" class="text-center" style="margin: 25px auto;">

                        <p>
                            <strong>Manager, Channel Sales</strong> <br>
                            <small>BlackBerry (2006 - 2011)</small>
                        </p>

                        <p>
                            I was at BlackBerry during their heyday, starting from right before the launch of the BlackBerry Pearl
                            and leaving shortly after the launch of the BlackBerry PlayBook.  At the time, BlackBerry was a force to be reckoned with,
                            with extremely popular smartphones with features like BlackBerry Messenger (BBM). Of course, we all know the reckoning did eventually come.
                            I was on the team that supported one of their major carrier partners in the US.
                        </p>

                        <p>
                            I was promoted to a leadership role in 2010 to lead and grow a high-performance channel sales team.
                            My role was primarily coming up with and executing programs to accelerate BlackBerry sell-through, which drove approx. +20%
                            revenue growth YoY when compared to other teams. I mostly worked with
                            senior carrier leadership (VP and SVPs), especially ahead of our regular new product launches.
                        </p>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="container-md">

        <div class="row" style="padding: 50px;">
            <div class="col">

               <p class="text-center">
                   Let's <strong>work together</strong> on something awesome.
               </p>

               <p class="text-center"><a href="mailto:alex@abohw.com" style="border:0px; background: #6c5ce7;" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">
                    Email Alex
                </a></p>

            </div>
        </div>
    </div>

    <nav class="navbar sticky-bottom navbar-light bg-light">
      <div class="container-md justify-content-end">
        <span class="navbar-text">
          © 2022 Alex Bowman. All rights reserved.
        </span>
      </div>
    </nav>

{% endblock %}
